# Manejo de bases de datos
pandas
numpy

# Visualización y Dashboard interactivo
matplotlib
seaborn
ipywidgets
ipympl

# Machine Learning y Modelos (Versión estandarizada del equipo)
scikit-learn==1.8.0
joblib